<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>


  <node pkg="rviz" type="rviz" name="rviz"
    args="-d /home/kate/kate_nav/mapping_demo.rviz"/>

  <node pkg="stage_ros" type="stageros" name="stageros" args="/home/kate/kate_nav/stage_config/worlds/kates.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <include file="/home/kate/kate_nav/launch/kate_geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="/home/kate/kate_nav/stage_config/worlds/kates.world"/>
  </include>

</launch>
